<!DOCTYPE html>
<html><head><meta charset="utf-8"><title><%= title || 'Error' %></title></head>
<body>
  <h1>Error</h1>
  <p><%= message || 'An error occurred' %></p>
  <% if (user) { %><p>Signed in: <%= user.firstName %> <%= user.lastName %></p><% } %>
</body>
</html>